.about {
  margin-top: 2rem;
}

.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.artist {
  width: 300px;
  height: auto;
  border-radius: 15px;
  margin-right: 30px;
}

.text-content {
  max-width: 700px;
}

.about-title {
  color: #B71C1C;
  font-size: 2rem;
  font-family: "Brush Script MT", cursive;
  margin-bottom: 1rem;
}

.description {
  font-family: "Verdana", sans-serif;
  font-size: 1.5rem;
  color: #B71C1C;
  text-align: left;
}
