.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  left: 50px; /* Ajuste para centralizar mais à direita */
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.title {
  color: #B71C1C;
  margin: 0;
  font-size: 4.5rem;
  font-family: "Brush Script MT", cursive;
}

.subtitle {
  color: #B71C1C;
  margin-top: 0.5rem;
  font-size: 2rem;
}

.swallow {
  width: 120px;
  height: auto;
  margin: 0 20px;
  align-self: center;
}

.swallow-right {
  width: 120px;
  height: auto;
  margin: 0 20px;
  align-self: center;
  transform: scaleX(-1); /* Espelha a imagem horizontalmente */
}
