.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
}

.swallow {
  width: 120px;
  height: auto;
  margin: 0 20px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  z-index: 1;
}

.title {
  color: #B71C1C;
  margin: 0;
  font-size: 3.5rem;
  font-family: "Brush Script MT", cursive; 
}

.subtitle {
  color: #B71C1C;
  margin-top: 0.5rem;
  font-size: 2rem;
}

.swallow-right {
  width: 120px;
  height: auto;
  margin: 0 20px;
  transform: scaleX(-1);
}

.schedule-button {
  background-color: #B71C1C;
  color: #F5F5F5;
  padding: 1rem;
  border: none;
  border-radius: 50%;
  font-family: "Verdana", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
  display: inline-block;
  transition: background-color 0.3s, transform 0.3s;
}

.schedule-button:hover {
  background-color: #C62828;
  transform: scale(1.05);
}

/* Adicionando responsividade */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }
  
  .swallow, .swallow-right {
    width: 100px;
  }
  
  .title {
    font-size: 2.5rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
  }
  
  .schedule-button {
    font-size: 1rem;
    padding: 0.8rem;
  }
}
